/* src/components/Home.css */
.home-container {
    text-align: center;
  }
  
  /* Remove bullet points from the navigation links */
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .logo-container {
    margin: 0 20px;
  }
  
  .logo {
    width: 150px; /* Adjust the size as needed */
  }
  
  .vs-text {
    font-size: 24px;
    margin: 0 20px;
  }